@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@200;300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

:root {
    --background: #C5E4E7;
    --darkGreen: #00474B;
    --lightBlue: #28C1AD;
    --white: #FFFFFF;
    --grey: #696969;
    --lightBlueInput: #d7effd;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'M PLUS 1 Code', sans-serif;
}




/* ALL */
body {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    line-height: 2.0;
    background-color: var(--background);
}

main {
    width: 700px;
    height: 400px;
    border-radius: 20px; 
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: var(--white)
}

.mainDiv {
    width: 47%;
    height: 90%;
    padding: 0 30px;
    border-radius: 20px; 

    display: flex;
    flex-direction: column;
    justify-content: center;
}




/* RIGHT CONTENT */
#divRight {
    background-color: var(--darkGreen);
}

#divRight div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#divRight h4 {
    line-height: 1.2;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
}

#divRight span {
    color: var(--lightBlue);    
    font-size: 15px;   
}

#divRight h5 {
   font-size: 40px; 
   color: var(--lightBlue);
}

#divRight button {
    margin-top: 70px;
    padding: 6px 0;
    border-radius: 3px;

    font-size: 20px;
    font-weight: 500;

    background-color: var(--lightBlue);
    color: rgb(54, 54, 54);
}

#divRight button:hover {
    background-color: var(--grey);
    color: var(--lightBlue);
    cursor: pointer;
}




/* LEFT CONTENT */
#divLeft h3 {
    font-size: 18px;
    font-weight: 400;
    color: var(--grey);
}

#billValueInput, #peopleInput {
    background-color: var(--lightBlueInput);
    padding: 2px 10px;
    border-radius: 3px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#billValueInput input, #peopleInput input {
    text-align: right;
    width: 150px;
    height: 38px;

    color: var(--darkGreen);
    font-weight: 400;
    font-size: 23px;

    background-color: var(--lightBlueInput);
}

#billValueInput p, #peopleInput p {
    font-size: 15px;
    color: var(--grey);
}

    /* to style placeholder */
::placeholder {
    font-size: 23px;
    color: var(--darkGreen);
} 

    /* to take the border out of the input */
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

    /* to take the arrows out of the type number */
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;  
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

#selectTip {
    margin: 18px 0 5px 0;
}

#tipValuesInput {
    display: grid;
    grid: repeat(2, 50px) / auto-flow 93px;    
}

#tipValuesInput div {
    background-color: var(--darkGreen); 
    color: var(--white);

    width: 75px;
    height: 40px;
    border-radius: 3px; 
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 23px;
    font-weight: 500;
}

#tipValuesInput div:hover {
    cursor: pointer;
}

#empty_error_msg {
    text-align: center;
    color: red;
    font-size: 12px;
    
}




/* MEDIA QUERIES */
@media (max-width: 780px) {
   main {
       display: flex;
       flex-direction: column;
       width: 400px;
       height: 600px;
   }

   .mainDiv {
       width: 400px;
   }

   #divLeft {
       margin-top: 20px;
       margin-bottom: 20px;
   }
   
   #divRight {
       border-radius: 0 0px 20px 20px;
   }

   #divRight button {
        margin-top: 30px;
   }

   #tipValuesInput {
        grid: repeat(2, 50px) / auto-flow 120px;    
   }

   #tipValuesInput div {
        width: 100px;
   }
}

@media (max-width: 450px) {
    main {
        width: 300px;
    }

    .mainDiv {
        width: 300px;
    }

    #tipValuesInput {
        grid: repeat(2, 50px) / auto-flow 86px;    
    }
    
    #tipValuesInput div {
        width: 70px;
    }

    #divRight h5 {
        font-size: 30px;
    }
}

@media (max-width: 350px){
    main {
        width: 250px;
    }

    .mainDiv {
        width: 250px;
    }

    #tipValuesInput {
        grid: repeat(2, 50px) / auto-flow 65px;    
    }
    
    #tipValuesInput div {
        width: 60px;
    }

    #divRight h4 {
        font-size: 13px;
    }
    #divRight h5 {
        font-size: 25px;
    }
}

